* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
	min-height: 100vh;
	background: linear-gradient(135deg, #f6e6d9, #fdf6f0);
	display: flex;
	justify-content: center;
	align-items: center;
}


.confirm-box {
	background: #7f4f24;
	padding: 30px 35px;
	width: 340px;
	border-radius: 16px;
	text-align: center;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

}


.confirm-box h2 {
	font-size: 24px;
	margin-bottom: 10px;
	color: #333;
}


.confirm-box p {
	color: #f5f4f4;
	margin-bottom: 20px;
}


.item-name {
	font-size: 20px;
	font-weight: bold;
	color: #c98b63;
	margin-bottom: 5px;
}


.item-price {
	font-size: 18px;
	color: #444;
	margin-bottom: 25px;
}


.buttons {
	display: flex;
	gap: 12px;
}


.btn {
	flex: 1;
	padding: 12px;
	text-decoration: none;
	color: #fff;
	border-radius: 10px;
	font-weight: bold;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.confirm {
	background: #4CAF50;

}


.cancel {
	background: red;
}


.btn:hover {
	transform: translateY(-2px);
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
.item-card {
	display: flex;
	gap: 15px;
	margin-bottom: 20px;
	align-items: flex-start;
	text-align: left;
}

.item-image {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 12px;
}

.text{
    color: white;
}

.item-details {
	flex: 1;
    color: white;
}

.item-details p {
	margin: 5px 0;
	font-size: 14px;
	color: #666;
}

.item-details .item-price {
	font-size: 16px;
	color: #c98b63;
	margin-top: 10px;
}


